<div class="nav">
  <div class="nav-segment" id="left">
    <a routerLink="/account" *ngIf="currentUser">{{ currentUser.username }}</a>
  </div>
  <div class="nav-segment" id="middle">
    <h1 routerLink="/">Projet - Angular</h1>
  </div>
  <div class="nav-segment" id="right">
    <div class="align-center" *ngIf="!currentUser">
      <a routerLink="/authentication/signin">Signin</a>
      <a routerLink="/authentication/signup">Signup</a>
    </div>
    <div class="align-center" *ngIf="currentUser">
      <button (click)="signout()">Signout</button>
      <a routerLink="/products/catalog">Catalog</a>
      <a routerLink="/products/cart" class="icon">
        <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
        <p *ngIf="productsNumber$ | async as productsNumber">
          {{ productsNumber }}
        </p>
      </a>
    </div>
  </div>
</div>
